 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     height: 100vh;
     width: 100vw;
     background-color: rgba(0, 0, 0, 0.871);
     color: azure;
     position: relative;
 }

 h2 {
     text-align: center;
     margin-bottom: 20px;
 }

 .container {
     background-color: rebeccapurple;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 20px;
     border-radius: 10px;
 }

 .result,
 .input-container {
     display: grid;
     grid-template-columns: 13em 9em 5em;
     row-gap: 10px;
     column-gap: 10px;
 }

 .input-container {
     margin-bottom: 20px;
 }

 .text-input,
 .date-input,
 .btn {
     padding: 5px;
     border: none;
     border-radius: 4px;
 }

 .btn {
     background-color: greenyellow;
     border: 1px solid black;
 }

 .del-btn {
     background-color: red;
     border: none;
     padding: 4px;
     border-radius: 5px;
 }